/* stylesheet for train app*/
.current-train-schedule{
    border: 10px;
    margin: 10px;
    background-color: rgb(51, 51, 143);
    color: white;
    max-width: 85%;
    border-style
    border-color: blue;

}

#trainScheduleTitle{
    background-color: rgb(131, 131, 245);
    color: white;
}



.train-info-input {
    border: 10px;
    margin: 10px;
    background-color: rgb(131, 131, 245);
    max-width: 85%;
}

#trainNameInput {
    /* width: 90%; */
}

#trainNameInput > div {
    margin: 0 auto;
    width: 250px;
    background-color: rgb(131, 131, 245);
}

/* #trainDestinationInput{} */
/* #trainTimeInput{} */
/* #trainFrequencyInput{} */


td {
    margin: 10px;
    background-color: rgb(131, 131, 245);
}

tr{
    border: 5px;
}